/* CSS by Yititi, 2023.05.29 */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(255, 248, 228, 0.8);
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #ffb700;
    padding: 10px;
    text-align: center;
    z-index: 98;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* 靠右排列 */
    position: relative; /* 需要設定 position: relative; */
    z-index: 99; /* 設定較高的 z-index 值 */
}

.menu li {
    margin-right: 16px;
}
  
.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.menu a:hover, .menu a:active, .menu a:focus {
    color: rgb(255, 174, 0);
}

.content {
    margin-top: 50px; /* Adjust the margin based on your header's height */
    padding: 20px;
}

.page {
    display: none; /* 隱藏所有分頁 */
}

.background-with-circles {
    position: absolute;
    width: 300px;
    height: 200px;
    /* background-color: #ffffff00; */
    margin-right: 10px;
    top: 400px;
    left: 80px;
}

.circle {
    position: absolute;
    width: 500px; 
    height: 500px;
    /* background-color: #a3ad99; */
    border-radius: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle img {
    width: 90%;
    height: 90%;
    border-radius: 80%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-with-circles2 {
    position: absolute;
    width: 1500; /* x位置 */
    height: 700; /* y位置 */
    /* background-color: rgba(255, 169, 88, 0.637); */
    margin-right: 10px;
    top: 1200px;
    left: 800px;
}

.circle2 {
    position: absolute;
    width: 500px; 
    height: 500px;
    /* background-color: #a3ad99; */
    border-radius: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: -1; */
}

.circle2 img {
    width: 90%;
    height: 90%;
    border-radius: 80%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.introduction {
    flex-grow: 1;
}

/* .square {
    position: absolute;
    width: 100px; 
    height: 100px;
    background-color: #a3ad99;
    border-radius: 80%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

h0 {
    padding: 30px;
    color:rgb(255, 174, 0);
    font-size: 25px;
    font-family: monospace, arial, sans-serif;
    z-index: -1;
    /* font-style: italic; */
}

h1 {
    color:rgb(255, 174, 0);
    font-size: 40px;
    letter-spacing: 10px;
    /* line-height: 1.5; */
    font-weight: 800;
    /* text-decoration: underline; */
    font-style: italic;
    Opacity: 1.0;
    text-align: center;
    font-family: monospace, arial, sans-serif;
}

h2{
    color:rgb(160, 197, 204);
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Caveat', cursive;
    font-weight: 300;
    /* font-style: italic; */
    text-align: center;
}

h3{
    color:rgb(160, 197, 204);
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Caveat', cursive;
    font-weight: 300;
    /* font-style: italic; */
    text-align: center;
}

#Introduce{
    color:rgb(89, 108, 111);
    font-size: 20px;
    font-family: monospace;
    line-height: 1.5;
    text-align: center;
}

a{
    color:rgb(141, 166, 183);
    font-size: 20px;
    font-family: monospace;
}

a:hover{
    color:rgb(89, 108, 111);
}


.imageList {
    display: flex;
    flex-wrap: wrap;
}
  
.imageItem {
    flex: 0 0 20%; /* 每行顯示五張照片，佔據 20% 的寬度 */
    margin: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/* .imageItem label:hover{
    color: rgb(255, 183, 0);
} */
 
.imageItem img {
    width: 100%;
}

.imageItem img:hover + label {
    color: rgb(255, 166, 0);
}

/* .imageItem label {
    margin-top: 20px;
    display: block;
}   */

.login-form {
    /* background-color: #ffffff; */
    /* background-color: rgba(255, 255, 255, 0.8); 設定表單區域的半透明背景色 */
    background-image: url("bee1_1.jpg");
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fff; /* Fallback background color */
    padding: 100px; 
    font-size: 20px;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: left;
    /* width: 300px; */
}

form {
    width: auto;
}

.form-group {
    margin-bottom: 15px;
}

form img {
    width: 100%; /* 讓圖片寬度佔滿父容器 */
    border-radius: 8px 8px 8px 8px; /* 設定左上和右下的圓角 */
    /* z-index: -1; */
}

form label, form select, form input {
    position: relative;
    z-index: 1; /* 讓文字內容在圖片上面 */
}

select {
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #fff; 
    font-size: 20px;
    color: #555;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
  
select:focus {
    outline: none;
    border-color: #ffce08;
    /* border: 2px solid #ffce08; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

label {
    /* display: block; */
    margin-bottom: 8px;
    font-size: 20px; 
    font-family: monospace;
    font-weight: 800;
    background-color: #ffffff00; 
    padding: 5px;
    /* border-radius: 6px; */
}

input {
    font-family: monospace;
    font-size: 20px;
    padding: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    /* background-color: #d1d1d100; */
}

input:hover {
    border: 2px solid #ffce08;
}

button[type="submit"] {
    font-size: 20px;
    font-family: monospace;
    font-weight: 800;
    background-color: #000000; 
    color: #fff;
    padding: 10px;
    width: 300px;
    border: none; 
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
  
button[type="submit"]:hover {
    background-color: #83b2b7;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

button2[type="submit"] {
    font-size: 16px;
    font-family: monospace;
    font-weight: 800;
    /* background-color: #00000000;  */
    color: #fff;
    /* padding: 10px; */
    width: 50%;
    border: none; 
    /* border-radius: 6px; */
    cursor: pointer;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); */
}

button2[type="submit"]:hover {
    background-color: #83b2b700;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
}

#Information{
    color:rgb(89, 108, 111);
    font-size: 15px;
    display: flex;
    /* align-items: center; 垂直居中 */
    justify-content: center; /* 水平居中 */
}

/* .linda{
    color:rgb(93, 152, 101)
}
.part one{
    color:rgb(241, 179, 103)
}
.part one little{
    color:rgb(255, 113, 170, 0.8)
} */
