<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEE - Home</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
    <div class="fixed-header">
        <h1>Bee ­ЪљЮ</h1>
        <ul class="menu">
            <li><a href="/home">ждќжаЂ</a></li>
            <li><a href="/login">уЎ╗тЁЦ</a></li>
            <li><a href="/products">ућбтЊЂС╗Іу┤╣</a></li>
            <li><a href="/service">ТюЇтІЎжаЁуЏ«</a></li>
            <li><a href="/shopping">У│╝уЅЕУ╗і</a></li>
            <li><a href="/contact">УЂ»ухАТѕЉтђЉ</a></li>
        </ul>
    </div>

        <h2>HOME</h2>
        <p>Homepage</p>
        <div class="background-with-circles">
            <div class="circle" style="background-color: #e4b8b5;">
                <img src="/bee1.jpg" alt="Bee Image 1">
            </div>
        </div>
        <div class="background-with-circles2">
            <div class="circle2" style="background-color: #a88c7a;">
                <img src="/bee6.jpg" alt="Bee Image 2">
            </div>
        </div>


    </div>
</body>

</html>
