<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEE - Shopping Cart</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="fixed-header">
        <h1>Bee 🐝</h1>
        <ul class="menu">
            <li><a href="/home">首頁</a></li>
            <li><a href="/login">登入</a></li>
            <li><a href="/products">產品介紹</a></li>
            <li><a href="/service">服務項目</a></li>
            <li><a href="/shopping">購物車</a></li>
            <li><a href="/contact">聯絡我們</a></li>
        </ul>
    </div>
    <br><br><br><br><br><br><br>

    <div>
        <h2>SHOPPING CART</h2>
        <p>Shopping cart</p>
        <p id="Information">國立臺灣大學 昆蟲學系<br>TEL | (02) 3366-5581</p>
    </div>
</body>
</html>
